.selected-tab {
}
.navbar {
  display: flex;
  justify-content: flex-end;
  height: 55px;
  span {
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    display: flex;
    li {
      padding: 0 7px;
      a {
        text-decoration: none;
        color: antiquewhite;
        position: relative;
        padding: 5px 0px;
      }

      a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        // height: 2px;
        border-bottom: 2px solid;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
.side-nav {
  position: absolute;
  top: 35px;
  right: 35px;
  border: 1px solid;
  padding: 10px 5px;
  background: antiquewhite;
  border-radius: 2px;
  z-index: 2;
  li {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background: rgb(180, 178, 178);
    }
    a {
      text-decoration: none;
      color: rgb(51, 46, 41);
      position: relative;
      padding: 5px 0px;
    }
  }
}
